/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

header#section-header {
background-color: #593662;
background-image: -moz-linear-gradient(top, #4C1C58 0%, #593662 100%);
background-image: -ms-linear-gradient(top, #4C1C58 0%, #593662 100%);
background-image: -o-linear-gradient(top, #4C1C58 0%, #593662 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4C1C58), color-stop(1, #593662));
background-image: -webkit-linear-gradient(top, #4C1C58 0%, #593662 100%);
background-image: linear-gradient(top, #4C1C58 0%, #593662 100%);

}

#page-wrapper {
 
}

footer#section-footer {
background: #2C2C28;
color: rgba(255, 255, 255, 0.65);
font-size: 0.857em;
}

a:link, a:visited {
color: #CCC;

}